@model Hospital_Project.Models.PositionDto
@{
    ViewBag.Title = "Edit";
}

<h2>Update Postion</h2>
<nav>
    <ul>
        <li><a href="/Position/List">Back to List</a></li>
        <li><a style="color:red;" href="/Position/DeleteConfirm/@Model.PositionID"/>Delete</li>
    </ul>
</nav>
<form action="/Position/Update/@Model.PositionID" method="post">
    <div style="display:none;">
        <input type="text" name="PositionID" value="@Model.PositionID" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="PositionJob" value="@Model.PositionJob" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="PositionDescription" value="@Model.PositionDescription"/>
    </div>
    <div>
        <label>Posted Date:</label> <input type="date" name="PositionPostedDate" value="@Model.PositionPostedDate"/>
    </div>
    <div>
        <label>Application Deadline</label> <input type="date" name="ApplicationDeadLine" value="@Model.ApplicationDeadLine" />
    </div>
    <div>
        <label>Department Assigned:</label><label>@Model.DepartmentName</label>
    </div>
    <div>
        <input type="submit" value="Update Position" />
    </div>
</form>