@model Hospital_Project.Models.ViewModels.UpdateGreetingCard

@{
    ViewBag.Title = "Edit";
}
<div class="addcard">
<h2>Update GreetingCard</h2>
<nav class="buttons">
    <ul>
        <li><a href="/GreetingCard/List">Go back to list</a></li>

        <li><a style="color:#ab2020;" href="/GreetingCard/DeleteConfirm/@Model.SelectedCard.CardId">Delete</a></li>
    </ul>
</nav>
<form action="/GreetingCard/Update/@Model.SelectedCard.CardId" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="display:none;">
                @* Pass through the card Id *@
                <input type="text" name="CardId" value="@Model.SelectedCard.CardId" />

            </div>
            <div style="display:none;">
                @* Pass through the user ID *@
                <input type="text" name="UserID" value="@Model.SelectedCard.UserId" />
            </div>
            <div>
                <label>SenderFirstName:</label> <input type="text" name="SenderFirstName" value="@Model.SelectedCard.SenderFirstName" data-val="true" data-val-required="please enter sender firstname" />
                @Html.ValidationMessageFor(model => model.SelectedCard.SenderFirstName, "", new { @class = "text-danger", data_valmsg_for = "SenderFirstName" })
            </div>
            <div>
                <label>SenderLastName:</label> <input type="text" name="SenderLastName" value="@Model.SelectedCard.SenderLastName" data-val="true" data-val-required="please enter sender lastname" />
                @Html.ValidationMessageFor(model => model.SelectedCard.SenderLastName, "", new { @class = "text-danger", data_valmsg_for = "SenderLastName" })
            </div>
            <div>
                <label>CardType:</label>
                <select name="CardType" value="@Model.SelectedCard.CardType">
                    <option>WellWishes</option>
                    <option>GetWellSoon</option>
                    <option>Congragulations</option>
                    <option>ThankYou</option>
                </select>
            </div>
            <div>
                <label>CardMessage:</label> <textarea name="CardMessage" data-val="true" data-val-required="please enter a message ">@Model.SelectedCard.CardMessage </textarea>
                @Html.ValidationMessageFor(model => model.SelectedCard.CardMessage, "", new { @class = "text-danger", data_valmsg_for = "CardMessage" })
            </div>

            <div>
                <label>Admission Id:</label>

                <select name="AdmissionId">
                    @foreach (var admissions in Model.AdmissionOptions)
                    {
                        var selected = "";
                        if (admissions.AdmissionId == Model.SelectedCard.AdmissionId)
                        {
                            selected = "selected";
                        }
                        <option value="@admissions.AdmissionId" @selected>@admissions.Room @admissions.Bed</option>

                    }
                </select>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <input type="file" name="GreetingCardPic" />
        </div>
    </div>
    <div>
        <input type="submit" value="Update Greeting Card" />

    </div>

</form>
</div>