@model IEnumerable<Hospital_Project.Models.GreetingCard>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Admissions.Room)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SenderLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CardHasPic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicExtension)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Admissions.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SenderLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CardHasPic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicExtension)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CardId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CardId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CardId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
