@model Hospital_Project.Models.ViewModels.AdmissionDetails
@{
    ViewBag.Title = "View";
}
<h2>@Model.SelectedAdmission.UserName</h2>
<nav>
    <ul>
        <li><a href="/Admission/List">Go back to list</a></li>
        <li><a href="/Admission/Edit/@Model.SelectedAdmission.AdmissionId">Update</a></li>
        <li><a style="color:#ab2020;" href="/Admission/DeleteConfirm/@Model.SelectedAdmission.AdmissionId">Delete</a></li>
    </ul>
</nav>
<div class="row">
    <div class="col-md-6 col-sm-12">
       
        <div>Room and Bed: @Model.SelectedAdmission.Room @Model.SelectedAdmission.Bed</div>
        <div>Doctor: Dr @Model.SelectedAdmission.DrFname  @Model.SelectedAdmission.DrLname</div>
    </div>


</div>